{% extends "layout.html" %}

{% block heading %}
    CONVERT PDF TO TEXT
{% endblock %}

{% block body %}

<strong>1)</strong> Select a PDF file to be converted. <strong>2)</strong> Input a name for the (to be created) text file. <strong>3)</strong> Click "Convert".
  <form id=upload_form action='{{ url_for("convert") }}' method=POST enctype=multipart/form-data>
      <input type=file name=file>
      <input name="txtname" placeholder='Input Name For Text File' style='width: 150px' required minlength='2'>
      <input type=submit value=CONVERT>
  </form>

{% endblock %}
